/*
	Castlecss-tabs variables
	Fallback for missing castlecss-core variables
	Example variables file: http://castlecss.com/variables.html
*/

$b1: 320px !default;
$b2: 480px !default;
$b3: 768px !default;
$b4: 1024px !default;
$b5: 1280px !default;
$b6: 1600px !default;

$margin-default: 12px !default;
$padding-default: 12px !default;

$theme01:	#1B94BF !default;
$color01: 	#fff !default;
$color03: 	#eeeeee !default;
$radius:	3px !default;

/*tab-specific variables*/
$tab-header-radius: $radius*2 !default;
$tab-header-border-color: $color03 !default;
$tab-header-bg-color: $color03 !default;

$tab-header-active-border-color: $theme01 !default;
$tab-header-active-bg-color: $theme01 !default;
$tab-header-active-color: $color01 !default;

$tab-panel-bg-color: $color01 !default;

$tab-panel-active-border-color: $theme01 !default;