/*
	Castlecss-tabs variables
	Fallback for missing castlecss-core variables
	Example variables file: http://castlecss.com/variables.html
*/

/* tabs specific variables */

$b1: 320px;
$b2: 480px;
$b3: 768px;
$b4: 1024px;
$b5: 1280px;
$b6: 1600px;

	$margin-default: 12px !default;
	$padding-default: 12px !default;

	$theme01:	#1B94BF !default;
	$color01: 	#fff !default;
	$color03: 	#eeeeee !default;
	$radius:	3px !default;