
.tabs-header {
     margin: 0; padding: 0; list-style: none;
    @include ulreset() !optional;
    @extend .cf;
}
.tabs-header-full {
    @extend .tabs-header;

    display: table;
    width: 100%;

    .tabs-title {
        display: table-cell;
        float: none;
        text-align: center;
    }
}

.tabs-title {
    float: left;

    &.is-active {

        .tab-link {
            border-color: $theme01;
            background: $theme01;
            color: $color01;    
        }
    }
    &:first-child {

        .tab-link {
            margin-left: 0;
        }            
    }
}
    
.tab-link {
    display: block;
    margin-left: $margin-default/2;
    border-radius: $radius*2 $radius*2 0 0;
    border: $color03 solid;
    border-width: 1px 1px 0 1px;
    padding: $padding-default $padding-default*2;
    background: $color03;
    text-decoration: none;

    &:hover, &:focus {
        border-color: $theme01;
    }
}

.tab-panel {
    display: none;
    border: 1px solid $theme01;
    padding: $padding-default $padding-default*2;
    background: $color01;

    &.is-active {
        display: block;
    }
}
