
.tabs {
    border: 1px solid $theme01;
}

.tabs-header {
    @include ulreset();
    @extend .cf;
    background: $color03;

    //make tabs-header full width
}
.tabs-header-full {
    display: table;
    width: 100%;

    .tabs-title {
        display: table-cell;
        float: none;
        text-align: center;
    }
}
.tabs-accordion {

    .tabs-title {
        display: block;
        float: none;
        text-align: left;
    }
    .tabs-content{
        display: none;
    }
}
.tabs-title {
    float: left;

    > a {
        display: block;
        padding: $padding-default $padding-default*2;
        text-decoration: none;

        &:hover, &:focus {
            background: $theme04;
        }
    }

    &.is-active {

        > a {
            background: $theme01;
            color: $color01;    
        }
    }
}
.tabs-content {
    border-top: 1px solid $theme01;
}
.tab-panel {
    display: none;
    padding: $padding-default $padding-default*2;
    background: $color01;

    &.is-active {
        display: block;
    }
}


@media only screen and (min-width: $b4) {

    .tabs-accordion {

        .tabs-title {
            float: left;
        }
        .tabs-content {
            display: block;
        }

        .tabs-header-full {

            .tabs-title {
                display: table-cell;
                text-align: center;
                float: none;
            }
        }
    }
}




